<!DOCTYPE html>
<html>
<h1><%="#{@pirate.name}"%></h1>
<p> <%="#{@pirate.weight}"%> </p>
<p> <%="#{@pirate.height}"%> </p>


<h2><%="#{@ships.first.name}"%> </h2>
<h2><%="#{@ships.first.type}"%> </h2>
<h2><%="#{@ships.first.booty}"%> </h2>

<h2><%="#{@ships[1].name}"%></h2>
<h2><%="#{@ships[1].type}"%></h2>
<h2><%="#{@ships[1].booty}"%></h2>
</html>